form { 
	width: 90%;
	margin: 0 5%;
}

input {
    padding: 8px;
    border: 1px solid tint(black, 25);
}

form,
input[type="submit"]{
	display: inline-block;
}

input, textarea { 
	width: 100%;
	margin-top: 10px;
	margin-left: 10px;
}

input[type="checkbox"]{
	width: auto;
}

input[type="submit"]{
    max-width: 300px;
    margin: 32px;
    padding: 10px 0;
    text-transform: uppercase;
}

label,
select {
	margin-left: 10px;
}

.errors { 
	li { 
		margin-left: 10px; 
		background-color: red; 
		color: white; 
		padding: 5px; 
		margin-top: 10px;
		@include border-radius(10px, 10px); 
	}
}

.forms { 
	max-width: 800px; 
	margin: 40px auto; 
} 
