.center { 
	text-align: center;
}

header, footer {
    background-color: tint(black, 10);
    color: white;
}

footer {
    padding: 20px; 
} 

article {
	header { 
		padding: 20px 0 10px; 
	} 
}

img { 
	width: 100%; 
}

table {
	margin-left: 10px; 
 	tr { 
		padding: 5px 0;
	} 
	td, th { 
		min-width: 100px; 
	} 
}
