.center { 
    text-align: center;
}

body {
    background-color: $primary; 
}

header, footer {
    background-color: tint($primary, 20);
    color: white;
}

header {
    padding: 10px 0 0;
}

footer {
    padding: 20px 0;  
} 

article {
    background-color: white;
    
    header {
        padding: 20px 0 10px; 
        margin-bottom: 40px;
        color: white;
    }
    section {
        header { 
            background-color: white;
        }
        nav { 
            background-color: shade(white, 5); 
        }
    } 
}

img { 
    width: 100%; 
}

table {
    tr { 
        padding: 5px 0;
    } 
    td, th { 
        min-width: 100px; 
    } 
}
