nav {
    background-color: $primary; 
    padding: 20px 0;

    .c-1 {
        text-align: left !important; 
    }
    .c-2 {
        text-align: right !important;
    }

    section {
        padding: 10px 0;
        
        a, a:visited {
            font-size: 12px;
            letter-spacing: 0px;
            color: white;
            padding: 10px;
        }

        a:first-child{ 
        }

        a:visited:hover, a:hover { 
            color: shade(blue, 75); 
            background-color: white; 
            @include transition-duration(.5s);
        }
    }
}
