h1,h2,h3,h4,h5,h6,p,a,input,label,button{
    font-family: 'Yantramanav', sans-serif;
    color: black;
}

a,a:visited, button{
    text-decoration: none !important;
    font-size: 18px;
    color: #2D4471;
    text-transform: uppercase;
    letter-spacing: 1px;

	i { 
		color: $active_shaded; 
	}	
}

a:hover,a:visited:hover {
	i { 
		color: $active_shaded_more; 
	}
}

p{
    line-height: 2;
    font-size: 18px;
}

h1 {
    font-weight: 900;
    margin: 24px 0 12px;
    a {
        font-size: 48px;
    }
}

article {
    h1 {
        font-size: 36px;
    }
}

h2 {
    font-size: 24px;
}

.brand {
    color: $primary;
}

nav {
	a {
		font-weight: 900; 
	} 
}

.btn {
	font-weight: 900; 
	font-size: 18px; 	
}
