h1,h2,h3,h4,h5,h6, p, a, input, textarea, label, li, th, td { 
    font-family: 'Lato', sans-serif;
    font-weight: 300; 
    letter-spacing: 1px;
}

h1{ 
    font-size: 24px;
    padding: 24px 0;
}

h2{ 
    font-size: 18px; 
    padding: 18px 0;
}

h3{ 
    font-size: 18px;
    padding: 9px 0;
}

p { 
    font-size: 12px; 
    padding: 10px 5px;
    letter-spacing: 1px;
}

a { 
    text-decoration: none;
    font-weight: 900;
}

th { 
    font-weight: 700; 
}

th, td { 
    text-align: center;
} 

label {
    font-size: 18px;
    font-weight: 900;
}
header, footer {
    text-align: center; 
}

article { 
    header {
        h1 { 
            padding-top: 120px;
        }
    }
}

h1,h6 { 
    font-family: 'Trocchi', serif;
}
h1 .brand {
    font-family: 'Trocchi', serif;
    font-size: 72px; 
    letter-spacing: 10px;
    margin-left: 5px;
    color: white;
    border-bottom: 1px solid white;
}
h6 .brand { 
    font-size: 36px; 
}
