/**COMPASS**/
@import "compass/reset";
@import "compass";

/**COLORS**/
$active: hsl(225°, 41%, 63%);
$primary: shade($active, 55); 
$shaded: shade($active, 75); 

/**CUSTOM**/
@import "general"; 
@import "nav"; 
@import "type"; 
