/**COMPASS**/
/* line 5, ../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**COLORS**/
/**CUSTOM**/
/* line 1, ../sass/_general.scss */
.center {
  text-align: center;
}

/* line 5, ../sass/_general.scss */
body {
  background-color: #000033;
}

/* line 9, ../sass/_general.scss */
header, footer {
  background-color: #33335c;
  color: white;
}

/* line 14, ../sass/_general.scss */
header {
  padding: 10px 0 0;
}

/* line 18, ../sass/_general.scss */
footer {
  padding: 20px 0;
}

/* line 22, ../sass/_general.scss */
article {
  background-color: white;
}
/* line 25, ../sass/_general.scss */
article header {
  padding: 20px 0 10px;
  margin-bottom: 40px;
  color: white;
}
/* line 31, ../sass/_general.scss */
article section header {
  background-color: white;
}
/* line 34, ../sass/_general.scss */
article section nav {
  background-color: #f2f2f2;
}

/* line 40, ../sass/_general.scss */
img {
  width: 100%;
}

/* line 45, ../sass/_general.scss */
table tr {
  padding: 5px 0;
}
/* line 48, ../sass/_general.scss */
table td, table th {
  min-width: 100px;
}

/* line 1, ../sass/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
label,
li,
th,
td,
button {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: #00000d;
}

/* line 22, ../sass/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 15px;
}

/* line 32, ../sass/_type.scss */
h1 {
  font-size: 24px;
  padding: 24px 0;
}

/* line 37, ../sass/_type.scss */
h2 {
  font-size: 18px;
  padding: 18px 0;
}

/* line 42, ../sass/_type.scss */
h3 {
  font-size: 18px;
  padding: 9px 0;
}

/* line 47, ../sass/_type.scss */
h4 {
  font-size: 16px;
}

/* line 51, ../sass/_type.scss */
h5 {
  font-size: 12px;
}

/* line 55, ../sass/_type.scss */
h6 {
  font-size: 10px;
}

/* line 59, ../sass/_type.scss */
p {
  font-size: 12px;
  letter-spacing: 1px;
  padding: 8px;
}

/* line 65, ../sass/_type.scss */
a {
  text-decoration: none;
  font-weight: 900;
}

/* line 70, ../sass/_type.scss */
button,
input[type="submit"] {
  border: none;
  background-color: #000033;
  color: white;
  margin: 20px;
}

/* line 78, ../sass/_type.scss */
th {
  font-weight: 700;
}

/* line 82, ../sass/_type.scss */
th, td {
  text-align: center;
}

/* line 86, ../sass/_type.scss */
label {
  font-size: 18px;
  font-weight: 900;
}

/* line 90, ../sass/_type.scss */
header, footer {
  text-align: center;
}

/* line 96, ../sass/_type.scss */
article header h1 {
  color: white;
  padding-top: 120px;
}
/* line 103, ../sass/_type.scss */
article section header h1 {
  text-align: left;
}

/* line 110, ../sass/_type.scss */
h1, h6 {
  font-family: 'Vesper Libre', serif;
}

/* line 114, ../sass/_type.scss */
.brand {
  font-family: 'Vesper Libre', serif;
}

/* line 118, ../sass/_type.scss */
h1 .brand {
  font-size: 48px;
  letter-spacing: 10px;
  margin-left: 0;
  color: white;
}

/* line 124, ../sass/_type.scss */
h6 .brand {
  margin-left: 0;
  padding-top: 20px;
  font-size: 36px;
  color: white;
}

/* line 1, ../sass/_nav.scss */
nav {
  background-color: #000033;
  padding: 20px 0;
}
/* line 5, ../sass/_nav.scss */
nav .c-1 {
  text-align: left !important;
}
/* line 8, ../sass/_nav.scss */
nav .c-2 {
  text-align: right !important;
}
/* line 12, ../sass/_nav.scss */
nav section {
  padding: 10px 0;
}
/* line 15, ../sass/_nav.scss */
nav section a, nav section a:visited {
  font-size: 18px;
  letter-spacing: 0px;
  color: white;
  padding: 10px;
}
/* line 21, ../sass/_nav.scss */
nav section a i, nav section a:visited i {
  padding: 0 5px;
}
/* line 27, ../sass/_nav.scss */
nav section a:visited:hover, nav section a:hover {
  color: #000040;
  background-color: white;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 1, ../sass/_forms.scss */
form {
  width: 90%;
  margin: 0 5%;
}

/* line 6, ../sass/_forms.scss */
input {
  padding: 8px;
}

/* line 10, ../sass/_forms.scss */
form,
input[type="submit"] {
  display: inline-block;
}

/* line 15, ../sass/_forms.scss */
input, textarea {
  border: 1px solid #d9d9d9;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

/* line 23, ../sass/_forms.scss */
input[type="checkbox"] {
  width: auto;
}

/* line 27, ../sass/_forms.scss */
input[type="submit"] {
  max-width: 300px;
  margin: 32px;
  padding: 10px 0;
  text-transform: uppercase;
}

/* line 34, ../sass/_forms.scss */
label,
select {
  margin-left: 10px;
}

/* line 40, ../sass/_forms.scss */
.errors li {
  margin-left: 10px;
  background-color: red;
  color: white;
  padding: 5px;
  margin-top: 10px;
  -moz-border-radius: 10px / 10px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px / 10px;
}

/* line 1, ../sass/_home.scss */
#home {
  color: white;
  text-align: center;
}
/* line 6, ../sass/_home.scss */
#home p {
  margin-top: 40px;
  line-height: 2;
  font-size: 24px;
}
