/**COMPASS**/
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**COLORS**/
/**CUSTOM**/
/* line 1, ../sass/_general.scss */
a:hover, a:hover:visited {
  text-decoration: none;
}

/* line 4, ../sass/_general.scss */
.btn, .btn-default, .btn:visited, .btn-default:visited {
  background-color: #3a425b;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  border: none;
}

/* line 11, ../sass/_general.scss */
.btn:hover, .btn-default:hover, .btn:visited:hover, .btn-default:visited:hover {
  background-color: #8193ca;
}

/* line 1, ../sass/_nav.scss */
.navbar {
  background-color: white;
}

/* line 4, ../sass/_nav.scss */
.navbar-form {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
}
/* line 10, ../sass/_nav.scss */
.navbar-form .btn {
  font-size: 18px;
}
/* line 13, ../sass/_nav.scss */
.navbar-form .btn:hover {
  color: white;
}

/* line 17, ../sass/_nav.scss */
.navbar-inverse,
.navbar-inverse .navbar-nav > li {
  background-color: #3a425b;
  border: none;
}
/* line 23, ../sass/_nav.scss */
.navbar-inverse a, .navbar-inverse a:visited,
.navbar-inverse .navbar-nav > li a,
.navbar-inverse .navbar-nav > li a:visited {
  color: white;
}
/* line 27, ../sass/_nav.scss */
.navbar-inverse a:hover, .navbar-inverse a:hover:visited,
.navbar-inverse .navbar-nav > li a:hover,
.navbar-inverse .navbar-nav > li a:hover:visited {
  color: #8193ca;
}

/* line 33, ../sass/_nav.scss */
article section nav {
  padding: 12px;
}

/* line 1, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6, p, a, input, label, button {
  font-family: 'Yantramanav', sans-serif;
  color: black;
}

/* line 6, ../sass/_type.scss */
a, a:visited, button {
  text-decoration: none !important;
  font-size: 18px;
  color: #2D4471;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 13, ../sass/_type.scss */
a i, a:visited i, button i {
  color: #6e7dac;
}

/* line 19, ../sass/_type.scss */
a:hover i, a:visited:hover i {
  color: #546083;
}

/* line 24, ../sass/_type.scss */
p {
  line-height: 2;
  font-size: 18px;
}

/* line 29, ../sass/_type.scss */
h1 {
  font-weight: 900;
  margin: 24px 0 12px;
}
/* line 32, ../sass/_type.scss */
h1 a {
  font-size: 48px;
}

/* line 38, ../sass/_type.scss */
article h1 {
  font-size: 36px;
}

/* line 43, ../sass/_type.scss */
h2 {
  font-size: 24px;
}

/* line 47, ../sass/_type.scss */
.brand {
  color: #3a425b;
}

/* line 52, ../sass/_type.scss */
nav a {
  font-weight: 900;
}

/* line 57, ../sass/_type.scss */
.btn {
  font-weight: 900;
  font-size: 18px;
}
